doctype html
html
  head
    title Welcome to Tennis site
    meta(charset='utf-8')
    link(rel='stylesheet', href='../public/stylesheets/style.css')
    link(rel='stylesheet', href='../public/stylesheets/bootstrap.min.css')
    title CSS MenuMaker
  body
    block content
    script(type="text/javascript", src='/bower_components/angular/angular.js')
    script(type="text/javascript", src='/bower_components/jquery/dist/jquery.js')
        
    